html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.site {
  width: 600px;
  box-shadow: 0px 6px 22px -4px rgba(0, 0, 0, 0.2);
}
.page {
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  background: white;
}
